*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(185, 211, 203);
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}



